/* main thing, same for every site */
body {
    background-color: rgb(46, 46, 46);
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.container-top {
    background-color: rgb(37, 37, 37);
}
.searchbar {
    display: flex;
    justify-content: right;
    margin-right: 20px;
}
.searchbutton {
    width: 30px;
    background-color: rgb(37, 37, 37);
    border: none;
}
.searchbutton img {
    width: 20px;
    width: 100%;
}
.placeholder {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 185, 255);
}
.button {
    background-color: rgb(255, 185, 255);
}
.logo img {
  width: 280px;
  transition: transform 0.3s;
  cursor: pointer;
}
.logo img:hover {
    transform: scale(1.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin: 0;
    margin-left: 50px;
    margin-right: 50px;
}

.sally {
    width: 60px;
}
.larry {
    width: 50px;
}

header {
    background-color: rgb(46, 46, 46); 
    text-align: center; 
    padding: 7px;
}
header p {
    color:  rgb(255, 185, 255);
}
header form {
    text-align: right;
}
header input[type="text"] {
    background-color: rgb(255, 185, 255);
}
.big-container {
    background-color: rgb(54, 54, 54);
}

nav {
    background-color: rgb(37, 37, 37);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: rgb(255, 185, 255);
    text-decoration: none;
    font-size: 30px;
    transition: font-size 0.3s;
}

nav ul li a:hover {
    font-size: 25px;
}

/* home thing */

.container-wrapper {
    display: flex;
    background-color: rgb(54, 54, 54);
}
.container {
    margin-top: 10px;
    background-color:rgb(196, 196, 196 );
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 600px;
    margin-left: 5px;
}

.aboutgame1 {
    color: rgb(54, 54, 54);
    font-family: 'Times New Roman', Times, serif ;
}
.aboutgame2 {
    color: rgb(54, 54, 54);
    font-family: 'Times New Roman', Times, serif ;
}


.gameplay1 {
    color: rgb(235, 235, 235);
    font-family: 'Times New Roman', Times, serif ;
    margin-left: 10px;
}
.gameplay2 {
    color: rgb(235, 235, 235);
    font-family: 'Times New Roman', Times, serif ;
    margin-left: 10px;
}

main h2 {
    color: rgb(46, 46, 46);
    font-family: 'Times New Roman', Times, serif ;
}

.play {
    display: flex;
}
.play img {
    width: 100px;
    margin-left: 20px;
    transition: transform 0.3s;
    cursor: pointer;
}
.play img:hover {
    transform: scale(1.1);
}

.container3 {
    margin-top: 10px;
    padding: 20px;
    box-sizing: border-box;

}
main h1 {
    margin-left: 10px;
    color: rgb(255, 185, 255);
    font-family: 'Times New Roman', Times, serif ;
}

main p.creator {
    color: rgb(235, 235, 235);
    font-family: 'Times New Roman', Times, serif ;
}

.container-awards {
    margin-top: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(37, 37, 37);
    margin-bottom: 10px;
}

.container-secondhalf {
    display: flex;
    background-color: rgb(54, 54, 54);
}

.container-scrn {
    margin-top: 10px;
    background-color:rgb(196, 196, 196 );
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 500px;
    margin-right: 10px;
}

summary {
    color: rgb(235, 235, 235);
    font-family: 'Times New Roman', Times, serif;
}

.QA1 {
    color: rgb(235, 235, 235);
    font-family: 'Times New Roman', Times, serif;
}

.QA2 {
    color: rgb(235, 235, 235);
    font-family: 'Times New Roman', Times, serif;
}

.container-news {
    background-color: rgb(196, 196, 196 );
    box-sizing: border-box;
    border-radius: 10px;
    padding-top: 1px;

}

main h3 {
    display: flex;
    justify-content: center;
    color: rgb(54, 54, 54);
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.submit {
    padding-bottom: 10px;
}

.container-end {
    margin-top: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(37, 37, 37);
    display: flex; 
    justify-content: center;
}

.contacts {
    color: rgb(255, 185, 255);
    font-family: 'Times New Roman', Times, serif ;
    display: flex;
    justify-content: center;
}

.email {
    color: rgb(235, 235, 235);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
}

.collaboration {
    color: rgb(235, 235, 235);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
}

footer {
    background-color: rgb(37, 37, 37);
    padding: 10px 0;
    text-align: center;
}

footer p {
    color: rgb(255, 185, 255);
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

