/* main thing, same for every site */
body {
    background-color: rgb(46, 46, 46);
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.container-top {
    background-color: rgb(37, 37, 37);
}
.searchbar {
    display: flex;
    justify-content: right;
    margin-right: 20px;
}
.searchbutton {
    width: 30px;
    background-color: rgb(37, 37, 37);
    border: none;
}
.searchbutton img {
    width: 20px;
    width: 100%;
}
.placeholder {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 185, 255);
}
.button {
    background-color: rgb(255, 185, 255);
}
.logo img {
  width: 280px;
  transition: transform 0.3s;
  cursor: pointer;
}
.logo img:hover {
    transform: scale(1.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin: 0;
    margin-left: 40px;
    margin-right: 70px;
}

.ashley {
    width: 40px;
}
.travis {
    width: 80px;
}

header {
    background-color: rgb(46, 46, 46); 
    text-align: center; 
    padding: 7px;
}
header p {
    color:  rgb(255, 185, 255);
}
header form {
    text-align: right;
}
header input[type="text"] {
    background-color: rgb(255, 185, 255);
}
.big-container {
    background-color: rgb(54, 54, 54);
}

nav {
    background-color: rgb(37, 37, 37);
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: rgb(255, 185, 255);
    text-decoration: none;
    font-size: 30px;
    transition: font-size 0.3s;
}

nav ul li a:hover {
    font-size: 25px;
}

/* cart thing */

.container-formular {
    background-color: rgb(54, 54, 54);
    padding-top: 10px;
    padding-bottom:10px
}


main h1 {
    color: rgb(255, 185, 255);
    margin-left: 10px;

}

main p {
    color: rgb(235, 234, 235);
}

.form {
    color: rgb(54, 54, 54);
}

.formular {
    background-color:rgb(196, 196, 196);
    margin-top: 10px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 1000px;
    display: flex;
    justify-content: center;
    margin:auto;
    margin-bottom: 20px;
}

.container-form {
    display: flex;
    background-color: rgb(54, 54, 54);
    color: rgb(235, 235, 235);
}


.container-end {
    margin-top: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(37, 37, 37);
    display: flex;
    justify-content: center;
}

.contacts {
    color: rgb(255, 185, 255);
    font-family: 'Times New Roman', Times, serif ;
    display: flex;
    justify-content: center;
}

.email {
    color: rgb(235, 235, 235);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
}

.collaboration {
    color: rgb(235, 235, 235);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
}

.checkbox {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.checkbox label {
    color: rgb(223,223,223); 
    font-weight: bold; 
}

.buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px
}

.left-button,
.right-button {
    padding: 10px 20px;
    color: rgb(54, 54, 54);
    font-family: 'Times New Roman', Times, serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(223,223,223);
}

.container-verybottom {
    background-color: rgb(46, 46, 46);
    margin: 0;
}

footer {
    background-color: rgb(37, 37, 37);
    padding: 10px 0;
    text-align: center;
}

footer p {
    color: rgb(255, 185, 255);
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

